label > span {
    color: #F65261;
}

.color-white {
    color: white !important;
}

.color-salmon {
    color: #F65261 !important;
}

.color-salmon-border {
    border-color: #F65261 !important;
}

.background-transparent {
    background-color: transparent;
}

.background-color-grey {
    background-color: #232323 !important;
}

.center-card-position {
    width: 100%;
    height: 100%;
    z-index: 10;
}

input[type="text"], textarea {
    color: white;
    background-color : #555555; 
    border: 0;
}

input[type="number"], textarea {
    color: white;
    background-color : #555555; 
    border: 0;
}

select {
    background-color : #555555; 
}

select option {
    color: white;
    background-color : #555555; 
    border: 0;
}